debug
transcript
vsim*
work
xcelium*
xrun.*
proto/privileged/privileged.sim/**
proto/privileged/privileged.runs/**
proto/privileged/privileged.cache/**
proto/privileged/privileged.gen/**
proto/privileged/privileged.ip_user_files/**
*.d
*.o
Vtb_wrapper*
*.txt
*.vcd
*.cache
*.hw
*.runs
*.sdb
sim/debug/**
*.cnt
*.hex
*.lst
*.map
*.sec
*.axf
*.bin
sim/obj_dir
*.lst
*.bin
*.elf
*.jou
*.log
*.str
*.tmp
