debug
transcript
vsim*
work
xcelium*
xrun.*
proto/**/*.sim/**
proto/**/*.runs/**
proto/**/*.cache/**
proto/**/*.gen/**
proto/**/*.ip_user_files/**
synthesis/**
*.d
*.o
Vtb_wrapper*
*.txt
*.vcd
*.cache
*.hw
*.runs
*.sdb
sim/debug/**
*.cnt
*.hex
*.lst
*.map
*.sec
*.axf
*.bin
sim/obj_dir
*.lst
*.bin
*.elf
*.jou
*.log
*.str
*.tmp
*.coe
*.xcix
**/.Xil
*.fst
*.dcp
.vscode
