[submodule "RingBuffer"]
	path = RingBuffer
	url = https://github.com/gaph-pucrs/RingBuffer
[submodule "app/lmfrnet/lmfrnet-utils"]
	path = app/lmfrnet/lmfrnet-utils
	url = https://github.com/santosantonio1/lmfrnet-utils
